<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>splash-app</title>
</head>

<body>
    <section class="pricing py-5">
        <div style="margin-top: -40px;margin-bottom: 40px;margin-left: 20px;"><a class="btn btn-sm animated-button victoria-one" [routerLink]="['/dashboard']">&lt;&lt; Back</a></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Standard body wash</h5>
                            <h6 class="card-price text-center">PENDING<span class="period"></span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa fa-car"></i></span>WHITE 1993 BMW 318TI&nbsp;<br></li>
                                <li><span class="fa-li"><i class="fa fa-location-arrow"></i></span>300 STERLING AVE, ATLANTA, GA, 30303<br></li>
                                <li><span class="fa-li"><i class="material-icons">person</i></span></li>
                                <li><span class="fa-li"></span>Jason Woods<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-clock-o"></i></span>&nbsp;July 9th, Evening (after 5pm)<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-phone"></i></span>Support: 470-230-2565</li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-money"></i></span>Paid<br></li>
                            </ul><button class="btn btn-outline-primary btn-block text-uppercase" type="button" [routerLink]="['/Order']">EDIT</button></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Standard</h5>
                            <h6 class="card-price text-center">R100<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>&nbsp;<strong>Single User</strong><br></li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>&nbsp;5GB Storage<br></li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>&nbsp;<strong>Unlimited</strong> Public Projects<br></li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>&nbsp;Unlimited Private Projects<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>&nbsp;Dedicated Phone Support<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>&nbsp;Monthly Status Reports<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>FREE Domain Name<br></li>
                            </ul><button class="btn btn-outline-primary btn-block text-uppercase" type="button">Buy Now</button></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Professional</h5>
                            <h6 class="card-price text-center">R150<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>&nbsp;<strong>Single User</strong><br></li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>&nbsp;5GB Storage<br></li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>&nbsp;<strong>Unlimited</strong> Public Projects<br></li>
                                <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>&nbsp;Unlimited Private Projects<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>&nbsp;Dedicated Phone Support<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>&nbsp;Monthly Status Reports<br></li>
                                <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>FREE Domain Name<br></li>
                            </ul><button class="btn btn-outline-primary btn-block text-uppercase" type="button">Buy Now</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
    <script src="assets/js/Date-Range-Picker.js"></script>
    <script src="assets/js/Bootstrap-DateTime-Picker-1.js"></script>
    <script src="assets/js/Bootstrap-DateTime-Picker-2.js"></script>
    <script src="assets/js/Bootstrap-DateTime-Picker.js"></script>
    <script src="assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
</body>

</html>