<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>splash-app</title>
</head>

<body>
    <section class="pricing py-5">
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="text-uppercase text-center text-muted card-title">Standard body wash</h5>
                            <h6 class="text-center card-subtitle mb-2 card-price">$25<span class="period">/plus local tax</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li>In-progress<span class="fa-li"><i class="fa fa-check" style="color: rgb(116,248,35);"></i></span></li>
                                <li class="text-muted">Customer appreciation voucher<span class="fa-li"><i class="fa fa-money" style="color: rgba(0,0,0,0.3);"></i></span></li>
                            </ul><a class="btn btn-success btn-block" role="button" style="color: rgb(255,255,255);" [routerLink]="['/dashboard']">Cancel</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
    <script src="assets/js/Date-Range-Picker.js"></script>
    <script src="assets/js/Bootstrap-DateTime-Picker-1.js"></script>
    <script src="assets/js/Bootstrap-DateTime-Picker-2.js"></script>
    <script src="assets/js/Bootstrap-DateTime-Picker.js"></script>
    <script src="assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
</body>

</html>