.wrapper:hover #slide {
    transition: 1s;
    right: 0;
}

#slide {
    position: absolute;
    right: -100px;
    width: 100%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}




.wrapper:hover #slideleft {
    transition: 1s;
    left: 0;
}

#slideleft {
    position: absolute;
    left: -100px;
    width: 100%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}